* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.gradient-bottom {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.gradient-top {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  height: 200px;
  width: 100%;
  position: absolute;
  transform: rotate(180deg);
  top: 0;
  z-index: -1;
}

.container {
  overflow: hidden;
}

.section-container {
  display: flex;
}

#main-section-one {
  height: 100vh;
  background-image: url(./img/mars-landing_eh42f9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100vw;

  flex-shrink: 0;
}

#main-section-two {
  height: 100vh;
  background-image: url(./img/mars-selfie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  flex-shrink: 0;
}
#main-section-three {
  height: 100vh;
  background-image: url(./img/home_moon.webp );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  flex-shrink: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  color: rgba(255, 255, 255, 0.808);
  z-index: 2;
  position: fixed;
  width: 100%;
}

.nav .logo {
  background: url(./img/logo_nasa_2x.png);
  width: 400px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 2rem;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  margin: 0rem 1rem 0rem 1rem;
  cursor: pointer;
}

.nav-menu ul li :hover {
  color: #fff;
}

.nav .search {
  border-radius: 25px;
  border: none;
  height: 30px;
  margin-right: 10px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.nav .search-btn {
  position: absolute;
  right: 30px;
  color: orange;
  cursor: pointer;
}

/*END NAV MENU */

.jumbo {
  display: flex;

  align-items: center;
}

.main-info {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 480px;
  float: left;
  margin-left: 3rem;
  align-items: center;
  margin-top: 15rem;
  padding: 1rem;
  text-align: left;
}

.main-info p {
  font-weight: lighter;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-info h3 {
  font-weight: lighter;
  font-size: 1.8rem;
}

.main-info span {
  color: rgba(219, 94, 48, 0.932);
}

.main-info button {
  background: rgba(63, 124, 173, 0.89);
  color: #fff;
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
}

/*END JUMBO*/

.bullets-wrapper {
  position: absolute;
  top: 34rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bullets-count {
  display: flex;
  justify-content: center;
 
}

.bullet {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.699);
  margin: 5px;
}

.bullet:hover{
  cursor: pointer;
}
.bullet-active {
  background-color: #fff;
}

/*END BULLETS SECTION */
.bottom-slider-wrapper {
  position: absolute;
  bottom: 2rem;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  z-index: 2;
}

.bottom-slider-item {
  display: flex;
  width: 230px;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.bottom-slider-item h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: rgb(253, 247, 247);
  text-transform: uppercase;
}

.bottom-slider-item p {
  color: #4e8fa4;
  font-size: 0.78em;
  font-weight: 500;
  text-transform: uppercase;
}

.bottom-slider-item .circle {
  background: url(./img/dashboard_expand.png);
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
}

@media (max-width: 858px) {
  .nav .nav-menu {
    display: none;
  }

  .nav .logo {
    width: 80%;
  }
  .nav .search {
    display: none;
  }

  .menu-icon {
    background: url(./img/ui_sprite@2x.png);
    margin-right: 10px;
    display: block;
    width: 25px;
    height: 25px;
    background-size: 300px;
  }
  .menu-icon {
    background: url(./img/ui_sprite@2x.png);
    margin-right: 10px;
    display: block;
    width: 25px;
    height: 25px;
    background-size: 300px;
  }

  .main-info {
    width: 100vw;
    margin: 40% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;
  }

  .main-info .btn {
    display: none;
  }

  .bottom-slider-wrapper {
    width: inherit;
  }
}
